<table class="table table-striped">
  <thead>
    <tr>
      <th>High</th>
      <th>Low</th>
      <th>Open</th>
      <th>Close</th>
      <th>Volume</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let payment of ParsedPaymentData">
      <td>{{ payment['high'] }}</td>
      <td>{{ payment['low'] }}</td>
      <td>{{ payment['open'] }}</td>
      <td>{{ payment['close'] }}</td>
      <td>{{ payment['volume'] }}</td>
      <td>{{ payment['date'] }}</td>
    </tr>
  </tbody>
</table>
